@page "/datacomparison"
@using System.Text.Json;
@inject HttpClient Http


<h1>Data comparison</h1>


<p>This component demonstrates fetched data through the api.</p>

@if (datacomparison == null)
{
    <h2>Choose models</h2>

    <InputFile OnChange="@LoadSource" />

    <button class="btn btn-info" type="button" @onclick="SubmitSource">
        <span></span> Submit
    </button>
    <br>

    <br>

    <InputFile OnChange="@LoadTarget" />

    <button class="btn btn-info" type="button" @onclick="SubmitTarget">
        <span></span> Submit
    </button>

    <p><em>Please upload source and target files...</em></p>
}
else
{
    <style>
        .custom-table {
            border: 5px solid #000000;
            border-radius: 10px;
        }

        .flex-container {
            display: flex;
        }

        .flex-item {
            flex: 1;
            margin: 5px;
        }
    </style>
    <div class="container">
        <div class="flex-container">
            <div class="flex-item">
                <table class="table">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th>Source @datacomparison.sourceName</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var description in datacomparison.sourceDescription)
                            {
                                <tr style="background-color: gray">
                                    <td>@description.Id</td>
                                    <td>@description.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </table>
            </div>
            <div class="flex-item">
                <table class="table">
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th>Target @datacomparison.targetName</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var description in datacomparison.targetDescription)
                            {
                                <tr style="background-color: gray">
                                    <td>@description.Id</td>
                                    <td>@description.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </table>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Source id</th>
                <th>Source value</th>
                <th>Target id</th>
                <th>Target value</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comparison in datacomparison.comparisons)
            {
                <tr style="background-color: @(setColour(comparison))">
                    <td>@comparison.sourceId</td>
                    <td>@comparison.sourceValue</td>
                    <td>@comparison.targetId</td>
                    <td>@comparison.targetValue</td>
                    <td>@comparison.result</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public IBrowserFile ChosenSource { get; set; }

    public IBrowserFile ChosenTarget { get; set; }

    private async Task LoadSource(InputFileChangeEventArgs e)
    {
        ChosenSource = e.File;
    }

    private async Task LoadTarget(InputFileChangeEventArgs e)
    {
        ChosenTarget = e.File;
    }

    private void SubmitSource()
    {
        OnInitializedAsync();
    }

    private void SubmitTarget()
    {
        OnInitializedAsync();
    }

    private DataCompare datacomparison;

    protected override async Task OnInitializedAsync()
    {
        var compareData = new MultipartFormDataContent();
        compareData.Add(new StreamContent(ChosenSource.OpenReadStream()), "SourceFile", ChosenSource.Name);
        compareData.Add(new StreamContent(ChosenTarget.OpenReadStream()), "TargetFile", ChosenTarget.Name);
        var payloadJson = JsonSerializer.Serialize(datacomparison);
        var Http = new HttpClient();
        var response = await Http.PostAsync("http://localhost:5091/api/getComparison", compareData);

        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            datacomparison = JsonSerializer.Deserialize<DataCompare>(jsonResponse);
        }
        else
        {
            Console.WriteLine($"HTTP POST request failed with status code: {response.StatusCode}");
        }
    }

    private string setColour(Comparison row)
    {
        if (row.result == "Unchanged") return "white";
        else if (row.result == "Added") return "green";
        else if (row.result == "Removed") return "red";
        else if (row.result == "Modified") return "yellow";
        else return "white";
    }

    public class DataCompare
    {
        public string sourceName { get; set; }

        public List<DataPair> sourceDescription { get; set; }

        public string targetName { get; set; }

        public List<DataPair> targetDescription { get; set; }

        public List<Comparison> comparisons { get; set; }
    }

    public class DataPair
    {
        public string Id { get; set; }

        public string Value { get; set; }
    }

    public class Comparison
    {
        public string sourceId { get; set; }
        public string targetId { get; set; }
        public string sourceValue { get; set; }
        public string targetValue { get; set; }
        public string result { get; set; }
    }
}
